<form  class="normal-form" #buypolicyForm="ngForm" (ngSubmit)="onSubmit(buypolicyform)">
    <!-- [formGroup]="service.form" -->
<mat-grid-list cols="2" rowHeight="300px">
<mat-grid-tile>
<div class="controlers-containers">
    <input type="hidden" formControlName="$key"/>
    <mat-form-field>
        <input  formControlName="fullname"  [(ngModel)]="service.selectedBuypolicy.fullname" matInput placeholder="Full Name*"/>
        <mat-error>Mandatory Field</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input  formControlName="brandno" [(ngModel)]="service.selectedBuypolicy.brandno" matInput placeholder="Brand No."/>
        <mat-error>Mandatory Field</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input  formControlName="Model" [(ngModel)]="service.selectedBuypolicy.model" matInput placeholder="Model"/>
        <mat-error>Mandatory Field</mat-error> 
    </mat-form-field>
    <mat-form-field>
        <input  formControlName="mobileno"  [(ngModel)]="service.selectedBuypolicy.mobileno" matInput placeholder="Mobile No."/>
        <mat-error *ngIf="service.form.controls['mobileno'].errors?.minlength">10 characters required</mat-error>

        <mat-error *ngIf="service.form.controls['mobileno'].errors?.required">Mandatory Field</mat-error>
    </mat-form-field>
   
        <div class="add-bottom-padding">
            <mat-radio-group formControlName="fuel">
                   <mat-radio-button value="1">Petrol</mat-radio-button>
                   <mat-radio-button value="2">Diesel</mat-radio-button>
                   <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
        </div>
    <div class="button-row">
        <button mat-raised-button color="primary" type="submit" >Submit</button>
        <!-- [disabled]="service.form.invalid"  -->
        <button mat-raised-button color="warn" type="button">Clear</button>
        <!-- (click)="onClear()" -->
    </div>
   
</div>
</mat-grid-tile>
   
<mat-grid-tile>
    <mat-form-field>
        <input  matInput [matDatepicker]="picker" [(ngModel)]="service.selectedBuypolicy.dateofregistration" placeholder="Date of Registration"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</mat-grid-tile>
</mat-grid-list>
</form>
